
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 24px;
    font-family: Helvetica, Arial, "sans-serif"
}

@font-face {font-family: "MAZIUS REVIEW 20.09"; src: url("//db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.eot"); src: url("//db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.woff") format("woff"), url("//db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.svg#MAZIUS REVIEW 20.09") format("svg"); }

@font-face { font-family: Outfit; 
			 src: url('https://fonts.googleapis.com/css?family=Outfit'); } 


.Silvio {
  color: #292929;
  list-style-type: none;
  margin: 1%;
  padding: 0;
  display: inline;
  
}

a {
	text-decoration: none;
	color: #292929;	
}
a:hover {
	text-decoration: none;
	color: #292929;	 
}

.Silvio .Header .title {
	font: normal normal normal 57px/68px "MAZIUS REVIEW 20.09";
	letter-spacing: 0px;
	color: #292929;
	opacity: 1;
	display: inline;
	text-decoration: none;
}
.Silvio .Header .Allsections {
	float:right;
	margin: 1% 1%;
	padding: 0;
	font: normal normal normal 28px/35px Outfit;
	letter-spacing: 0.5px;
	color: #292929;
	opacity: 1;
	display: inline;
	text-decoration: none; 
}
.Silvio .Header .Allsections .sectionity{
	margin-inline: 20px;
}

.Carousel {
	margin: auto;
	padding-left: 10%;
	padding-right: 10%;
}