
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 24px;
    font-family: Helvetica, Arial, "sans-serif"
}
h1 {
    text-align: center;
    padding: 30px 0;
    font-size: 40px;
    line-height: 46px;
    font-weight: normal;
}
h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
}
#bannersection {
    position: relative;
    display: table;
    width: 100%;
    background: rgba(99,214,250,1);
    /* ms ( IE 10.0+ ) */
    background: -ms-radial-gradient(ellipse closest-side at 50% 50%, rgba(99,214,250,1) 0.14%, rgba(56,184,224,1) 99.61% );
    /* WebKit (Chrome 10.0+, safari 5.1+ )*/
    background: -webkit-radial-gradient(ellipse closest-side at 50% 50%, rgba(99,214,250,1) 0.14%, rgba(56,184,224,1) 99.61% );
    /* Moz ( Moz 3.6+ )*/
    background: -moz-radial-gradient(ellipse closest-side at 50% 50%, rgba(99,214,250,1) 0.14%, rgba(56,184,224,1) 99.61% );
    /* Opera ( opera 11.6+ )*/
    background: -o-radial-gradient(ellipse closest-side at 50% 50%, rgba(99,214,250,1) 0.14%, rgba(56,184,224,1) 99.61% );
    /* W3C Markup */
    background: radial-gradient(ellipse closest-side at 50% 50%, rgba(99,214,250,1) 0.14%, rgba(56,184,224,1) 99.61% );
    height: 100vh;
}
.bannercontent {
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    padding: 0 3%;
    position: relative;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
#header {
    background-color: rgba(255,255,255,0.75);
    display: block;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    min-height: 60px;
}
#logo {
    font-size: 24px;
    color: #0088cc;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 6px;
    display: block;
    float: left;
}
nav {
    font-size: 16px;
    line-height: 22px;
    float: right;
}
nav ul {
}
nav ul li {
    float: left;
    list-style: none;
    margin-left: 10px;
}
nav ul li:first-child {
    margin-left: 0;
}
nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    line-height: 20px;
}
nav ul li a:hover, nav ul li.active a {
    color: #0088cc;
}
.menu {
    display: none;
    position: absolute;
    top: 20px;
    right: 15px;
}
.menu:before {
    content: "\f0c9";
    display: inline-block;
    font: normal normal normal 24px/1 FontAwesome;
    color: #0088cc;
}
.menu.activeMenu:before {
    content: "\f00d";
}
.animateArrow {
    font-size: 20px;
    color: #fff;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin: 0;
    width: 25px;
    height: 25px;
    opacity: 1;
    -webkit-animation: example 1.2s infinite; /* Safari 4.0 - 8.0 */
    animation: example 1.2s infinite;
}
    
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
 from {
bottom: 80px;
 opacity: 0
}
 to {
bottom: 20px;
 opacity: 1
}
}

/* Standard syntax */
@keyframes example {
 from {
bottom: 80px;
opacity: 0
}
 to {
bottom: 20px;
opacity: 1
}
}
.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.main-container {
    padding: 60px 0;
}

@media (max-width: 1200px) {
.container {
    width: auto;
}
}

@media (max-width: 767px) {
#header {
    padding: 10px 0;
}
#logo {
    float: none;
    margin-left: 15px;
}
.menu {
    display: block;
}
nav {
    float: none;
}
nav ul {
    display: none;
    margin-top: 15px;
}
nav ul li {
    float: none;
    margin: 0;
    border-top: solid 1px #ccc;
}
nav ul li a {
    line-height: 25px;
}
}
